@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-connect-wallet-btn {
  background-color: #FFD400 !important;
  padding: 10px 2px !important;
  border-radius: 10px !important;
  border: none;
  font-weight: 700 !important;
  align-items: center !important;
  color: black !important;
}

.custom-connect-wallet-btn *{
  color: black !important;
}

.custom-connect-wallet-btn:hover {
  background-color: #EADEDA !important; /* Cambia esto al color que desees para el hover */
}

